.width_640px {
    width: 640px;
    background-color: white;
}

.main_ctn {
    width: auto;
    max-width: var(--global-width);
    position: relative;
    color: black;
    margin: auto;
}

.title_box {
    height: auto;
    margin-top: 16px;
}

.title_text {
    color: black;
    background-color: yellowgreen;
    padding: 8px;
    font-size: 32px;

}

.map_box {
    background-color: aliceblue;
    margin-top: 16px;
}

.map_title {
    font-size: 24px;
    background-color: tomato;
    padding: 8px
    
}